@mixin clasic ($flex, $jcc, $aic) {
    display: $flex;
    justify-content: $jcc;
    align-items: $aic;
}

.card-bg-b{
    background-color: map-get($map: $bg, $key: "uno");
    border: none;

}
.serv-trans-img{
    border-radius: 1%;
    &:hover{
        transform: scale(0.89, 0.89);
        transition-duration: 0.5s;
        cursor: pointer;
    }
}

div h2{
    @include clasic(flex, center, center);
    font-size: 38px;
    margin-top: 30px;
}

.border-rodri{
    border-radius: 50%;
    
}
.sm-p-1{
    @include clasic(flex, center, center);
    font-size: 35px;
    margin: 50px 0;
    font-family: $fontAb
}

.sm-p-2{
    @include clasic(flex, center, center);
    font-size: 30px;
    
}
.serv-p{
    @include clasic(flex, center, center);
}
.sm-ul{
    list-style: none;
}


form{
    width: 450px;
    margin: auto;
    background-color: map-get($map: $bg, $key: "seis");
    padding: 50px 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 18px;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#btn-form{
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: map-get($map: $bg, $key: "cuatro");
    border: none;
    border-radius: 7px;
}

.iframe{
    @include clasic(flex, center, center);
}