// mapa bg
$bg: (
    'uno': rgb(199, 175, 151),
    'dos': rgb(190, 187, 187),
    'tres': #5a605f,
    'cuatro': #888889,
    'cinco': rgb(164, 172, 164),
    'seis': rgba(0, 0, 0, 0.4),

);

// var text
$textBold: 600;
$textfino: 200;

//var font 
$fontMo: 'Montserrat', sans-serif;
$fontPr: 'Prompt', sans-serif;
$fontAb: 'ABeeZee', sans-serif;


//font
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap');

body{
    background-color: map-get($map: $bg, $key: 'uno');
    font-family: $fontMo
}

h1{
    display: flex;
    justify-content: center;
    margin: 30px 0 50px 0;
}
.img-principal{
    width: 100%;
    height: 32rem;
}